.nav li ul {
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1;
}

    .nav li ul li {
        overflow: hidden;
        height: 0;
        -webkit-transition: height 200ms ease-in;
        -moz-transition: height 200ms ease-in;
        -o-transition: height 200ms ease-in;
        transition: height 200ms ease-in;
    }

.nav ul > li:hover ul li {
    height: 36px;
}

.nav ul {
    *zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .nav ul:before, .nav ul:after {
        content: "";
        display: table;
    }

    .nav ul:after {
        clear: both;
    }

    .nav ul > li {
        float: left;
        position: relative;
    }

.nav a {
    display: block;
    line-height: 1.2em;
    color: white;
    border-left: 1px solid #595959;
    transition: 0.3s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 10px 20px;
}

.nav button {
    display: block;
    line-height: 1.2em;
    color: white;
    border-left: 1px solid #595959;
    transition: 0.3s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 10px 20px;
}

nav a:hover {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 10px;
    text-decoration: none;
}

nav button:hover {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 10px;
    text-decoration: none;
}

#signup a {
    border-left: none;
    border-right: 4px solid white;
}

#signup button {
    border-left: none;
    border-right: 4px solid white;
}

#signup a:hover {
    padding: 10px;
    margin-left: 20px;
}

#signup button:hover {
    padding: 10px;
    margin-left: 20px;
}

#login a {
    border-left: none;
}

#login button {
    border-left: none;
}

#login a:hover {
    padding: 10px;
    margin-right: 20px;
}

#login button:hover {
    padding: 10px;
    margin-right: 20px;
}

.nav li ul {
    background: linear-gradient(to right, rgb(58, 123, 213), rgb(58, 96, 115));
    border-radius: 5px;
    border-top-left-radius: 0px;
    margin-top: 15px;
}

    .nav li ul li {
        width: 200px;
    }

    .nav li ul a {
        border: none;
    }

    .nav li ul button {
        border: none;
    }

    .nav li ul a:hover {
        background: rgba(0,0,0,0.2);
    }

.last-child {
    float: right;
}

.first-child {
    float: left;
}

.nav-bar {
    z-index: 10000;
    background: linear-gradient(to right, rgb(58, 123, 213), rgb(58, 96, 115));
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-bar-brand {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
}

.title {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 80px !important;
}

.last-nav-item {
    border-top: 2px solid white !important;
    border-bottom: none !important;
}

.link {
    background-color: Transparent;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: 0;
}

    .link:focus {
        outline: none;
        outline-style: none;
        outline-color: transparent;
        outline-width: 0px;
    }

.vl {
    border-left: 1px solid rgba(0,0,0,.1);
    height: 84.5%;
    position: fixed;
    margin-right: 50px;
}

.vl-center {
    border-left: 1px solid rgba(0,0,0,.1);
    height: 100%;
    display: inline-block;
    margin-top: 35px; 
    position: absolute;
}

.horizontal-li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 45%;
}

.pagination {
    display: inline-block;
}

    .pagination li {
        display: inline-block;
    }

    .pagination a {
        transition: background-color .3s;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
        float: left;
    }

        .pagination a.active {
            background-color: #1b6ec2;
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

.float-right {
    float: right;
}

.float-left {
    float: right;
}

.text-decoration-none {
    text-decoration: none;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.btn-light-hover {
    background: lighten($red, 3%);
    border: 1px solid darken($red, 4%);
    box-shadow: 0px 2px 0 darken($red, 5%), 2px 4px 6px darken($red, 2%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
}

.btn-light-hover:hover {
    background: darken($red, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten($red, 18%);
    text-decoration: none;
    text-shadow: -1px -1px 0 darken($red, 9.5%);
    transition: all 250ms linear;
}

.box {
    animation: slide-up 1s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.checked {
    color: orange;
}

.unchecked {
    color: black;
}

.unselected-arrow {
    color: black !important;
    text-decoration: none !important;
}

.selected-arrow {
    color: #1b6ec2 !important;
    text-decoration: none !important;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.mainmenu {
    display: inline-block;
}

.mainmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.mainmenu ul li {
    display: inline-block;
    position: relative;
}

.mainmenu ul li a {
    display: block;
    color: #222;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: .3s;
    -webkit-transition: all 0.3s ease 0s;
}

.mainmenu ul li:hover > a:before, .mainmenu ul li.active > a:before {
    opacity: 1;
    visibility: visible;
}
    .mainmenu ul li:hover > a, .mainmenu ul li.active > a {
        background: #f4f4f4;
        text-decoration: none;
        color: #1b6ec2;
    }

.mainmenu li ul {
    background: #fff none repeat scroll 0 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    text-align: left;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}
.mainmenu li ul li {
    text-align: center;
    display: block;
}
.mainmenu li ul li a {
    padding-bottom: 5px;
    padding-top: 5px;
    text-transform: none;
}
.mainmenu li:hover ul {
    border: 1px solid lightgrey;
    border-top: none;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 99;
}

table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}
table thead th,
table tfoot th {
    color: #777;
    background: rgba(0,0,0,.1);
}
table caption {
    padding:.5em;
}
table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
}
/* Zebra Table Style */
[data-table-theme*=zebra] tbody tr:nth-of-type(even) {
    background: rgba(0,0,0,.05);
}
[data-table-theme*=zebra][data-table-theme*=dark] tbody tr:nth-of-type(odd) {
    background: rgba(255,255,255,.05);
}

.color-blue {
    color: #1b6ec2;
}

.color-red {
    color: red;
}

.clickable {
    cursor: pointer;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
}