@page
@using Dex.Common.Resources
@model Dex.Web.Pages.Identity.ForgottenPasswordModel
@{
    ViewData["Title"] = "ForgottenPassword";
}

<div class="row title">

    <h2>@IdentityResources.ForgottenPassword</h2>
    <br />
    <br />
    <h5>Enter your account's email address and we will send you a mail with a password reset link.</h5>
    <div class="col-md-4">
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button id="buttonBusyIndicator" type="submit" class="btn btn-primary btn-block">@IdentityResources.SendPasswordResetLink</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}