@page
@model Dex.Web.Pages.Identity.RegistrationSuccessModel
@{
    ViewData["Title"] = "RegistrationSuccess";
}

    <h2 class="title">Registration successful! Please check your email to confirm your account.</h2>

