@page
@model Dex.Web.Pages.Blog.IndexModel
@{
}

<div class="title">
    <form method="post">
        <h2>Actions on post</h2>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" asp-page-handler="Like" asp-route-postId="20">Like</button>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" asp-page-handler="Comment" asp-route-postId="10" asp-route-postComment="I commented">Comment</button>
        </div>
        <div class="form-group">
            <button type="submit" id="buttonBusyIndicator" class="btn btn-primary" asp-page-handler="Post" asp-route-postId="15">Post</button>
        </div>
    </form>
    <h2>@Model.TestMessage</h2>
</div>