@model Dex.Web.ViewModels.Account.AccountInformationViewModel

<h4>Application details</h4>
<br />

<div class="row">
    <div class="text-center card col-md-12 p-0">
        <label class="card-header" asp-for="ProjectFavorites"></label>

        <div id="projectFavoritesTableDiv"></div>
    </div>
</div>