@using Dex.DataAccess.Models
@using Microsoft.AspNetCore.Identity
@model Dex.Web.ViewModels.Account.AccountInformationViewModel
@inject SignInManager<AspNetUsers> SignInManager

<div class="vl"></div>
<div class="title container">
    @Html.HiddenFor(m => m.CurrentUserId)
    @Html.HiddenFor(m => m.SelectedUserId)
    <h1>My Account</h1>
    <hr />
    <div class="row">
        <div class="col-sm-12 text-center ">
            <partial name="_AccountDetailsPartial" model="Model" />
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <partial name="_ApplicationDetailsPartial" model="Model" />
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/MyAccountScripts.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            updatePrivilegesTable('@SignInManager.UserManager.GetUserId(User)');
            updateProjectFavoritesTable('@SignInManager.UserManager.GetUserId(User)');
        })
    </script>
}
